@import "../bootstrap/scss/bootstrap";

// Color menus-hover
.color-menu{
    color:white;
}
.color-menu:hover{
    color: #e5e5e5;
}
.color-toggler{
    color: white;
}
// Span Hola
.span-hola{
    color: red;
}
