@import "../bootstrap/scss/bootstrap";
@import "./colores/colores.scss";

// Menu
.navbar{
    background: $color-navbar;
}
.color-menu{
color: $color-menu;
}
.color-menu:hover{
color: $color-menu-hover;
}
//Fin seccion Menu
    
// Seccion Hola
.span-hola{
color: #E63946;
}
.encabezado{
    font-size: 4rem;
}

//Iconos
.icono-link{
    color: $color-icono;
    .bi-linkedin{
    font-size: 2rem;
    }
    .bi-github{
    font-size: 2rem;
    }
}
.icono-link:hover{
    color: $color-icono-hover;
}

//boton
.btn{
    background: $color-boton;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn:hover{
    background: $boton-hover;
}
.contactame{
    color: $color-menu;
    font-size: 1.5rem;
}
.contactame:hover{
 color: $color-menu;
}
//Fin seccion Hola

//Seccion Acerca
h2{
    text-decoration: underline;
    color: $color-secciones;
}
.titulo-acerca{
    color: black;
    text-decoration: none;
}
.imagen{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.acerca{
    color: $color-menu;
}
.acerca:hover{
    color: $color-menu;
   }
//Fin Seccion Acerca

// Seccion Experiencia
.admin-gym{
    background: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    .bi-people-fill{
        font-size: 1.5rem;
        color: $color-iconos;
    }
    h5{
        font-weight: bold;
    }
    
}
.front-end{
    background: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    .bi-laptop-fill{
        font-size: 1.5rem;
        color: $color-iconos;
    }
    h5{
        font-weight: bold;
    }
}
.web-designer{
    background: #E9ECEF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    .bi-pencil-fill{
        font-size: 1.5rem;
        color: $color-iconos;
    }
    h5{
        font-weight: bold;
    }
}
// Fin Seccion experiencia

//Seccion proyectos
.proyecto{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    h5{
        font-weight: bold;
    }
    .btn{
        color: $color-menu;
    }
    
}
//Fin seccion proyectos

//Seccion habilidades
.titulo{
    color: $color-secciones;
    text-decoration: underline;
    
}
.bi-caret-right-fill{
        color: $color-iconos;
    }
//Fin seccion habilidades

//Seccion contacto
form{
    .btn{
        color: $color-menu ;
    }
    .btn:hover{
        color: $color-menu;
    }
}
//Fin seccion contacto

//Seccion footer
footer{
    background: $color-navbar;
    p{
        color: $color-menu;
    }
}
//Fin seccion footer