.section {
  padding: 6rem 0 2rem;
}

.section-title {
  font-size: $h1-font-size;
  color: $title-color;
}

.section-subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
}

.section-title,
.section-subtitle {
  text-align: center;
}
