$color-menu: #ffffff;
$color-menu-hover: #d3d3d3;
$color-navbar: #E63946;
$color-boton: #E63946;
$boton-hover: #ba181b;
$color-secciones: #E63946;
$color-iconos: #E63946;
$color-icono: #000;
$color-icono-hover: #252422 ;